<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Ben Cochrane</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>
                <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
                <li><a class="page-scroll" href="#skills">Skills</a></li>
                <li><a class="page-scroll" href="#about">About</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
        </div>
        
    </div>
    
</nav>

<header>
    <div class="container">
        <div class="intro-text">
            <!-- <div class="intro-lead-in">Hi, I'm Ben.</div> -->
            <div class="intro-heading">Hi I'm Ben, a Ruby on Rails and Backbone.js JavaScript Developer living in Sydney.</div>
            <a href="#portfolio" class="page-scroll btn btn-xl">See My Work</a>
        </div>
    </div>
</header>



<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <h2 class="section-heading header-gap">SalesPal</h2>
                <h4 class="text-muted portfolio-subtext">SalesPal is a customer relationship manager (CRM) that features super fast search, navigation and access to past emails and notes in one place. SalesPal is built in Ruby on Rails and Backbone.js.</h4>
                <h4 class="site-link"><%= link_to 'View Site', 'https://salespal.herokuapp.com', target: "_blank", class: "space-right" %><%= link_to 'View Code', 'https://github.com/bencochrane1/salepal', target: "_blank" %></h4><br>
                
                <span><%= image_tag 'rails.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'backbone.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'jQuery.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'postgresql-logo.png', class: 'tech-thumbnail' %></span>
            </div><br><br>
            <div class="col-md-9">
                <%= image_tag "salespal.png", class: 'img-responsive right-border' %>
            </div>
        </div>
    </div>
</section>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <%= image_tag "sensei.png", class: 'img-responsive left-border' %>
            </div>
            <div class="col-md-3 ">
                <h2 class="section-heading header-gap">Sensei</h2>
                <h4 class="text-muted portfolio-subtext">Sensei is a platform-as-a-service that let's teachers create their own ecommerce business. It allows teachers to upload their own material and create complete courses and lectures for students to subscribe to. Sensei is a subdomain application, allowing teachers to have their own unique URL immediately.</h4>
                <h4 class="site-link"><%= link_to 'View Site', 'http://getsensei.net', target: "_blank", class: "space-right" %><%= link_to 'View Code', 'https://github.com/bencochrane1/EugeneAlanBen', target: "_blank" %></h4><br>
                
                <span><%= image_tag 'rails.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'postgresql-logo.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'stripe.png', class: 'tech-thumbnail-stripe' %></span>
                <span><%= image_tag 'aws.png', class: 'tech-thumbnail-aws' %></span>
            </div><br><br>

        </div>
    </div>
</section>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <h2 class="section-heading">Fly-lo Airlines</h2>
                <h4 class="text-muted portfolio-subtext">Fly-lo Airlines is an airline booking system built in Backbone.js and Ruby on Rails.</h4>
                <h4 class="site-link"><%= link_to 'View Site', 'http://fly-lo.herokuapp.com/', target: "_blank", class: "space-right" %><%= link_to 'View Code', 'https://github.com/bencochrane1/fly-lo', target: "_blank" %></h4><br>
                
                <span><%= image_tag 'rails.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'backbone.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'postgresql-logo.png', class: 'tech-thumbnail' %></span>
            </div><br><br>
            <div class="col-md-9">
                <%= image_tag "airlines.png", class: 'img-responsive right-border' %>
            </div>
        </div>
    </div>
</section>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <%= image_tag "gradscore.png", class: 'img-responsive left-border' %>
            </div>
            <div class="col-md-3 ">
                <h2 class="section-heading header-gap">GradScore</h2>
                <h4 class="text-muted portfolio-subtext">GradScore is a data collection tool for recording observations about graduate candidates in assessments centres for major banks.</h4>
                <h4 class="site-link"><%= link_to 'View Site', 'http://gradscore.herokuapp.com/', target: "_blank", class: "space-right" %><%= link_to 'View Code', 'https://github.com/bencochrane1/gradscore', target: "_blank" %></h4><br>
                
                <span><%= image_tag 'rails.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'postgresql-logo.png', class: 'tech-thumbnail' %></span>        
            </div><br><br>

        </div>
    </div>
</section>



<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <h2 class="section-heading">TechTeacher</h2>
                <h4 class="text-muted portfolio-subtext">TechTeacher allows you to upload youtube articles to create tracks for learning specific programming languages.</h4>
                <h4 class="site-link"><%= link_to 'View Site', 'https://fast-wave-6884.herokuapp.com/', target: "_blank", class: "space-right" %><%= link_to 'View Code', 'https://github.com/bencochrane1/techteacher', target: "_blank" %></h4><br>
                
                <span><%= image_tag 'rails.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'aws.png', class: 'tech-thumbnail' %></span>
                <span><%= image_tag 'postgresql-logo.png', class: 'tech-thumbnail' %></span>
            </div><br><br>
            <div class="col-md-9">
                <%= image_tag "tech-teacher.png", class: 'img-responsive right-border' %>
            </div>
        </div>
    </div>
</section>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <%= image_tag "officeup.png", class: 'img-responsive right-border' %>
            </div>
            <div class="col-md-3 ">
                <h2 class="section-heading header-gap">OfficeUp</h2>
                <h4 class="text-muted portfolio-subtext">OfficeUp is Airbnb for office space. It is built with Angular.js.</h4>
                <h4 class="site-link"><%= link_to 'View Site', 'http://officeup.bitballoon.com/', target: "_blank", class: "space-right" %></h4><br>
                
                <span><%= image_tag 'angular.png', class: 'tech-thumbnail' %></span>     
            </div><br><br>

        </div>
    </div>
</section>


<section id="skills" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <h3 class="section-subheading text-muted">I offer a solid set of full-stack development skills combined with sales and business development experience.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    
                </a>
                <div class="portfolio-caption">
                    <h4>Front-End Web Development</h4>
                    <p class="text-muted">Backbone.js, Angular.js, jQuery, CSS3, HTML5</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    
                </a>
                <div class="portfolio-caption">
                    <h4>Back-End Web Development</h4>
                    <p class="text-muted">Ruby on Rails, Postgresql, TDD, BDD, APIs</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    
                </a>
                <div class="portfolio-caption">
                    <h4>Product Management</h4>
                    <p class="text-muted">Completed the General Assembly Product Management course with lean product management experience experience.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    
                </a>
                <div class="portfolio-caption">
                    <h4>Leadership and Management</h4>
                    <p class="text-muted">Sales manager for two different companies.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    
                </a>
                <div class="portfolio-caption">
                    <h4>Startup Founder</h4>
                    <p class="text-muted">Founded and sold a hardware design startup previously.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    
                </a>
                <div class="portfolio-caption">
                    <h4>Business Development and Client Facing Skills</h4>
                    <p class="text-muted">Former stockbroker and business development manager with great client facing skills.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Me</h2>
                <h3 class="section-subheading text-muted about-muted">I grew up on a farm in Queensland.<br>I love riding motocross bikes and going fishing.<br>I'm a self-starter and easy to work with.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2003 - 2008</h4>
                                <h4 class="subheading">Completed Uni</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Graduated from the University of Queensland with Honours in Mechanical Engineering and Finance.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2008 - 2012</h4>
                                <h4 class="subheading">Stockbroker, Goldman Sachs JBWere</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">During this time I worked for Goldman Sachs JBWere both as a stockbroker and later as a manager of a team of 12 brokers.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012 - 2013</h4>
                                <h4 class="subheading">Founder Skypad Stands, a hardware design business</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I founded Skypads Stands which was a hardware design business for iPad enclosures and stands for use in trade shows and point of sale in restaurants to secure iPads to the counters.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Sales Manager, General Assembly</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After selling my previous business, I worked at General Assembly in the sales team managing 2 salespeople.</p>
                            </div>
                        </div>
                    </li>



                    <li>
                        <div class="timeline-image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014 - Present</h4>
                                <h4 class="subheading">Web Development Immersive Program, General Assembly</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I have just completed a full-time, 3 month intensive program learning full-stack web development. In the program we learnt Ruby on Rails, Backbone.js, jQuery, Javascript, TDD, BDD as well as how to implement APIs.</p><br>
                                <p>I'm currently open to full-stack development roles in Ruby on Rails and front-end Javascript frameworks, not limited to Backbone.js and Angular.js.</p>
                            </div>
                        </div>
                    </li>  


                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Open for
                                <br>full-stack
                                <br>developer 
                                <br>roles.</h4>
                        </div>                       
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading footer">Get In Touch</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <ul class="list-inline social-buttons contact-social">
                    <li><a href="https://au.linkedin.com/in/benjamincochrane" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/bencochrane1" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://careers.stackoverflow.com/bencochrane" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="mailto:bencochrane1@me.com" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>     
    </div>
</section>